@CHARSET "UTF-8";

/***
Form stuff
***/
.form-section {
  margin: 15px 0px 20px 0px !important;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

.form-actions {
	
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.form-actions-reverse {
    background-color: #f5f5f5;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
    margin: 5px;
    padding: 5px;
}

.form-horizontal .control-group {
    margin-bottom: 3px;
}

.table {
    margin-bottom: 5px;
}